body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.menu-li {
    list-style: none;
  margin-left: -20px;
margin-top: -40px;
    margin-right: 10px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}
.menu-li li {display: inline-block;}
.menu-li li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-li li:last-child:after {content: none;}
.menu-li a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 15px 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-li a, .menu-li a:visited {color: #9d999d;}
.menu-li a.current, .menu-li a:hover{color: #feb386;}
.menu-li a:before,
.menu-li a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}
.menu-li a:hover:before, .menu-li .current:before {left: 0;}
.menu-li a:hover:after, .menu-li .current:after {right: 0;}
@media (max-width: 550px) {
    .menu-li {padding-top: 0;}
    .menu-li li {display: block;}
    .menu-li li:after {content: none;}
    .menu-li a {
        padding: 25px 0 20px;
        margin: 10px 30px;
    }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
